<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-icon slot="end" name="close" (click)="dismiss()"></ion-icon>
    <ion-label>
      <h2>Curry Guru Hawaii</h2>
      <p>Spice Guru.</p>
    </ion-label>
  </ion-item>
</ion-header>
<ion-content class="ion-padding">
  <div>
    <ion-slides>
      <ion-slide *ngFor="let productImage of selectedProduct.images">
        <ion-img [src]="productImage.src"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-item class="item-text-wrap">
    <ion-label>
      {{ selectedProduct.name }}
      <h3 [innerHtml]="selectedProduct.price_html"></h3>
      <div>
        <ion-chip *ngFor="let categorie of selectedProduct.categories">
          <ion-label><small>{{ categorie.name }}</small></ion-label>
        </ion-chip>
      </div>
      <small>
        <ion-icon name="star"></ion-icon> {{selectedProduct.average_rating}}
      </small>
    </ion-label>

    <ion-button color="" size="default" style=" --background:#f15f2a; color: #fff;" slot="end"
      (click)="onClickAdd(selectedProduct)">
      ADD <ion-icon name="cart"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-text>
    <p [innerHTML]="selectedProduct.description"></p>
  </ion-text>

  <div class="">
    <ion-list style="--background: #fff;">
      <ion-item style="background-color: #fff;" *ngFor="let related of selectedProduct.related_ids">
        <ion-thumbnail slot="start">

          <img [src]="" class="pro-img">
        </ion-thumbnail>
        <ion-label>
          <h4><strong>{{related}}</strong></h4>

          <p><small>
              <ion-icon name="star"></ion-icon>
            </small></p>
        </ion-label>

      </ion-item>

    </ion-list>
  </div>
</ion-content>